<% @title = @device.title %>
<p><%= @device.description %></p>
<% form_for :worker, :url => { :action => :link_to_worker } do |form| %>
  <p class="control">
    <%= submit_tag "Добавить" %>
  </p>
<% end %>
