/* [Reset Style Sheet] */

html, body, h1, h2, h3, h4, h5, h6, p, div, img, li, ul, a, select, input, option, textarea, table, tr, td, th, form, label
{ padding: 0; margin: 0; font-size: 100%; }
li { list-style: none }
em { font-style: normal }
table { border-collapse: collapse; }
img { border-width: 0px; }
