<% @title = 'Сотрудники Центра Коллективного Пользования МГУ'%>
<a href="/workers_new" class="add_item">Добавить сотрудника</a>
<ul class="workers list">
	<% for worker in @workers %>
	  <li>
      <h2><%= link_to h(worker.lastname + " " + worker.firstname + " " + worker.secondname),
        :controller => 'workers',
        :action => 'show',
        :id => worker %></h2>
      <span class="comment">(<%= short(worker.degree.to_s) %>)</span>
      <p class="description"><%= humanize(worker.faculty) %></p>
      <a href="#" class="control">редактировать</a>
		</li>
	<% end %>
</ul>
