<h1><%= h(@worker.lastname + " " + @worker.firstname + " " + @worker.secondname) %></h1>
Ученая степень: &nbsp;<%= h(@worker.degree) %><br />
Ученое звание: &nbsp;<%= h(@worker.rank) %><br />
Факультет: &nbsp;<%= h(@worker.faculty) %><br />
